main.contact li {
	display: block;
	margin: 1rem;

	font-size: 0.75rem;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 5%;
}

main.contact li.email {
	display: flex;

	border: solid 0.0625rem var(--contrast);
	border-radius: 0.5rem;
}

main.contact li a {
	display: flex;
	align-items: center;
	gap: 1rem;
	width: 100%;
	padding: 1rem;
}

main.contact a.link {
	border: solid 0.0625rem var(--contrast);
	border-radius: 0.5rem;
}

main.contact svg {
	width: auto;
	height: 1rem;
}

main.contact button {
	display: block;
	padding: 1rem;

	background: none;
	border: none;
	border-left: solid 0.0625rem var(--contrast);
}
