/* LANDING */
main.home section.landing {
	min-height: calc(100vh - var(--header-height));
}

@media screen and (min-width: 64em) {
	main.home div.work {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}
