main.about article {
	margin-top: 2rem;
}

main.about ul {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin: 1rem;
}

main.about li {
	display: block;
	padding: 0.5rem;

	border: solid 0.0625rem var(--contrast);
	border-radius: 0.25rem;

	font-size: 0.75rem;
	font-weight: 500;
}

div#root.dark main.about li {
	border-color: var(--base2);
}

main.about img {
	margin-top: 2rem;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	object-position: center 25%;

	border-radius: 1rem;
}

@media screen and (min-width: 64em) {
	main.about div.wp-block-group {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
	}

	main.about div.wp-block-group article {
		order: 1;
	}
}
