main.project h3 {
	margin: 1rem;
}

main.project p {
	margin: 1rem;
}

main.project figure {
	margin: 1rem;
}

main.project article + article {
	margin-top: 2rem;
}

main.project ul {
	margin: 1rem 1rem 1rem 2rem;
}

main.project li {
	line-height: 1.5;
}

main.project img {
	margin: auto;
}

main.project video {
	display: block;
	margin: auto;
}

main.project figcaption {
	margin: 1rem 0;

	font-style: italic;
	text-align: center;
	line-height: 1.5;
}

main.project strong {
	font-weight: 600;
}

main.project a.wp-element-button {
	display: block;
	margin: 1rem;
	padding: 1rem;

	border: solid 0.0625rem var(--base2);
	border-radius: 0.5rem;

	font-size: 0.75rem;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5%;
}

main.project a.wp-element-button:hover,
main.project a.wp-element-button:focus {
	color: var(--accent);
	border-color: var(--accent);
}

main.project a.wp-element-button:active {
	background-color: var(--accent);
	color: var(--base);
}

@media screen and (min-width: 64em) {
	main.project > div {
		max-width: 64rem;
		margin: auto;
	}

	main.project section + section {
		padding-top: 0;
	}

	main.project article + article {
		margin-top: 4rem;
	}

	main.project div.col2 {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	main.project div.col2 article {
		margin: 0;
	}

	main.project video {
		max-width: 20rem;
	}
}
