main.work div.buttons {
	display: flex;
	gap: 0.5rem;
	position: relative;
	left: -1rem;
	width: 100vw;
	margin: 1rem 0;
	padding: 0 2rem;

	overflow-x: auto;
}

main.work button {
	display: block;
	padding: 0.5rem;

	background: none;
	border: solid 0.0625rem var(--contrast);
	border-radius: 0.25rem;

	font-size: 0.75rem;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 5%;
	white-space: nowrap;
}

div#root.dark main.work button {
	color: var(--contrast);
}

main.work button.active {
	background-color: var(--contrast);
	color: var(--base);
}

div#root.dark main.work button.active {
	color: var(--base);
}

main.work article + article {
	margin-top: 4rem;
}

main.work img {
	width: 100%;
}

@media screen and (min-width: 64em) {
	main.work div.buttons {
		position: static;
		width: auto;
		margin: 1rem;
		padding: 0;
	}

	main.work article {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}
