section.posts article {
	margin-top: 2rem;
}

section.posts article + article {
	margin-top: 4rem;
}

@media screen and (min-width: 64em) {
	section.posts article {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-top: 8rem;
	}

	section.posts article + article {
		margin-top: 8rem;
	}
}
