footer {
	padding: 1rem;

	border-top: dashed 0.0625rem var(--base2);
}

footer p {
	margin: 1rem;

	color: var(--gray);

	font-size: 0.75rem;
	text-align: center;
	line-height: 1.5;
}

footer small {
	font-size: 1em;
}

footer a {
	font-weight: 600;
}

footer a:hover,
footer a:focus {
	text-decoration: underline;
}

@media screen and (min-width: 64em) {
	footer {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}
}
