header {
	display: flex;
	flex-direction: column-reverse;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: var(--base);
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);

	font-weight: 500;
}

header div.bar {
	display: flex;
	justify-content: space-between;
}

header a {
	display: block;
	padding: 1rem;
}

header a.logotype {
	display: flex;
	gap: 1rem;
}

header img {
	height: 1rem;
}

header div.buttons {
	display: flex;
}

header button {
	display: block;
	padding: 1rem;

	background: none;
	border: none;
	border-left: solid 0.0625rem var(--base2);
}

header svg {
	width: auto;
	height: 1rem;
}

header path {
	fill: var(--contrast);
}

header nav {
	text-align: center;
}

header nav.hidden {
	display: none;
}

header nav.visible {
	display: block;
}

header nav a {
	border-bottom: solid 0.0625rem var(--base2);
}
