.dark,
.dark * {
	--base: var(--gray1);
	--base2: var(--gray2);
	--contrast: var(--white);
	--accent: mediumturquoise;
	--accent-tint: rgba(72, 209, 204, 0.1);
}

.dark {
	background-color: var(--base);
}

.dark main.work button:not(.active) {
	color: var(--contrast);
}

.dark main.work button:not(.active):hover,
.dark main.work button:not(.active):focus {
	color: var(--accent);
}

.dark main.work button:not(.active):active {
	color: var(--base);
}
