@media screen and (min-width: 64em) {
	/* ----------------------------------------------------------------- */

	/* SECTIONS */
	section {
		max-width: 120rem;
		margin: auto;
		padding: 8rem;

		scroll-margin-top: var(--header-height);
	}

	/* HOMEPAGE WORK SECTION */
	div.work {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	div.work article {
		box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
	}

	/* ----------------------------------------------------------------- */

	/* HEADINGS */
	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.5rem;
	}
}
