@media screen and (min-width: 64em) {
	/* HEADER */
	header {
		position: sticky;
		top: 1rem;
		width: max-content;
		flex-direction: row;
		margin: 1rem auto;
		padding-right: 3.0625rem;
	}

	.logo {
		border-right: solid 0.0625rem var(--base2);
	}

	header button {
		position: absolute;
		right: 0;
	}

	.nav {
		display: none;
	}

	.hidden {
		display: block;
	}

	nav ul {
		display: flex;
	}

	header nav a {
		border: none;
	}

	/* ----------------------------------------------------------------- */

	/* FOOTER */
	footer {
		display: flex;
		justify-content: space-between;
		padding: 0;
	}

	/* ----------------------------------------------------------------- */

	/* MAIN */

	/* WORK PAGE */
	main.work .buttons {
		width: unset;
	}

	.projects {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem 0;
	}

	main.work article + article {
		margin: 0;
	}

	main.work figure {
		padding: 2rem;
	}

	/* ABOUT PAGE */
	main.about div.wp-block-group {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	main.about div.wp-block-group article {
		order: 1;
	}

	/* CONTACT PAGE */
	main.contact ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
		margin: 1rem;
	}

	main.contact li {
		margin: 0;
	}

	/* ----------------------------------------------------------------- */

	/* SECTIONS */
	section {
		max-width: 90rem;
		margin: auto;
		padding: 8rem;
	}

	/* HOMEPAGE LANDING SECTION */
	.landing {
		padding-bottom: 0;
	}

	.landing h1 {
		font-size: 4rem;
	}

	.landing h2 {
		font-size: 2rem;
	}

	/* HOMEPAGE WORK SECTION */
	div.work article {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	/* ----------------------------------------------------------------- */

	/* LOADING GIF */
	.loading {
		height: calc(100vh - var(--header-height) - 2rem);
	}
}
