/* TABLE OF CONTENTS */
/*
- Imports
- Variables
- Body
- Main
- Sections
- Headings
- Paragraphs
- Links
- Buttons
*/

/* ----------------------------------------------------------------- */

/* IMPORTS */
@import url("general-sans.css");

/* ----------------------------------------------------------------- */

/* VARIABLES */
* {
	--header-height: 3rem;

	--black: black;
	--gray: gray;
	--gray9: hsl(0, 0%, 90%);
	--white: white;
	--base: var(--white);
	--base2: var(--gray9);
	--contrast: var(--black);
	--accent: #6f00ff;
	--accent-tint: rgba(111, 0, 255, 0.1);
	--accent-highlight: linear-gradient(
		0,
		var(--accent-tint) 50%,
		transparent 50%
	);

	margin: 0;
	padding: 0;

	font-family: "GeneralSans-Variable", "Noto Color Emoji", sans-serif;
	line-height: 1;

	scroll-behavior: smooth;
	transition: all 0.25s;
}

/* ----------------------------------------------------------------- */

/* BODY */
div#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* ----------------------------------------------------------------- */

/* HEADER */
header {
	display: flex;
	flex-direction: column-reverse;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	margin: 1rem;

	background-color: var(--base);
	border-radius: 0.5rem;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);

	text-align: center;

	overflow: hidden;
}

div.collapsed {
	display: flex;
	justify-content: space-between;
}

header a {
	display: block;
	padding: 1rem;

	fill: var(--accent);
}

header a:hover,
header a:focus {
	background-color: var(--accent-tint);
	color: var(--accent);
}

header a:active {
	background-color: var(--accent);
	color: var(--base);
	fill: currentColor;
}

div.name {
	display: none;
}

header div.buttons {
	display: flex;
}

header button {
	padding: 1rem;

	border-left: solid 0.0625rem var(--base2);
}

header svg {
	width: auto;
	height: 1rem;
}

header button:hover,
header button:focus {
	background-color: var(--accent-tint);
	fill: var(--accent);
}

header button:active {
	background-color: var(--accent);
	fill: var(--base);
}

nav.collapsed {
	display: none;
}

nav.expanded {
	display: block;
}

header li {
	display: block;
}

header nav a {
	border-bottom: solid 0.0625rem var(--base2);
}

/* ----------------------------------------------------------------- */

/* FOOTER */
footer {
	padding: 1rem 1rem calc(var(--header-height) + 2rem) 1rem;

	color: var(--gray);
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1) inset;

	text-align: center;
}

/* ----------------------------------------------------------------- */

/* MAIN */
main {
	flex: 1;
}

/* ----------------------------------------------------------------- */

/* SECTIONS */
section {
	padding: 1rem;
}

/* ----------------------------------------------------------------- */

/* HEADINGS */
h1 {
	margin: 1rem;

	color: var(--accent);

	font-weight: 600;
	line-height: 1.25;
}

h2 {
	margin: 1rem;

	font-weight: 600;
	line-height: 1.25;
}

h3 {
	margin: 1rem;

	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1.25;
}

/* ----------------------------------------------------------------- */

/* PARAGRAPHS */
p {
	margin: 1rem;
	line-height: 1.5;
}

/* PARAGRAPH LINKS */
p a {
	font-weight: 500;
}

p a:hover,
p a:focus {
	text-decoration: underline;
}

p a:active {
	color: var(--accent);
}

/* ----------------------------------------------------------------- */

/* LINKS */
a {
	color: currentColor;

	text-decoration: none;
}

/* ----------------------------------------------------------------- */

/* BUTTONS */
button {
	display: block;

	background: none;
	border: none;

	cursor: pointer;
}

/* ----------------------------------------------------------------- */

/* HIGHLIGHTS */
mark {
	background: var(--accent-highlight);
	color: var(--accent);
}

/* ----------------------------------------------------------------- */

/* ABBREVIATIONS */
abbr:focus::after {
	content: " (" attr(title) ")";
}

/* ----------------------------------------------------------------- */

/* SMALL */
small {
	font-size: 1em;
}

/* ----------------------------------------------------------------- */

/* IMAGES */
img {
	display: block;
}

/* LOADING GIF */
img.loading {
	margin: auto;
	height: calc(100vh - var(--header-height) - 2rem);
	object-fit: scale-down;
}

/* ----------------------------------------------------------------- */

/* SVGS */
svg {
	display: block;
}

path {
	display: block;
	fill-rule: evenodd;
}

/* ----------------------------------------------------------------- */

/* TOOLS */
section.tools {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
	padding: 2rem;

	background-color: var(--accent-tint);
	color: var(--accent);

	font-weight: 500;
	text-align: center;
}

section.tools figcaption {
	margin-top: 1rem;

	line-height: 1.5;
}

section.tools svg {
	width: 3rem;
	margin: auto;
}

path.base,
rect.base,
circle.base,
ellipse.base,
polygon.base {
	fill: var(--accent);
}

path.contrast,
polygon.contrast {
	fill: var(--base);
}

/* ----------------------------------------------------------------- */

/* WORK */
section.work a {
	display: block;
	margin: 1rem;

	border-radius: 0.5rem;
}

section.work a + a {
	margin-top: 4rem;
}

section.work h3 {
	margin: 1rem 0 0 0;
}

section.work p {
	margin: 0.5rem 0 0 0;
}

section.work a:hover,
section.work a:focus {
	color: var(--accent);
	box-shadow: 0 0 0 0.0625rem currentColor;
	overflow: hidden;
}

section.work a:hover figure,
section.work a:focus figure {
	margin: 1rem 1rem 0 1rem;
}

section.work a:hover h3,
section.work a:focus h3 {
	margin: 1rem 1rem 0 1rem;
}

section.work a:hover p,
section.work a:focus p {
	margin: 0.5rem 1rem 1rem 1rem;
}

section.work a:active {
	background-color: var(--accent);
	color: var(--base);
	box-shadow: 0 0 0 0.0625rem var(--accent);
}

/* ----------------------------------------------------------------- */

/* ABOUT */
div.about {
	background-color: var(--accent-tint);
}

div.about h2 {
	color: var(--accent);
}

div.about figure {
	margin: 1rem;
}

div.about img {
	border-radius: 0.5rem;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);

	aspect-ratio: 1 / 1;
	object-fit: cover;
	object-position: center 25%;
}

/* ----------------------------------------------------------------- */

/* CONTACT */
section.contact li {
	display: block;
	position: relative;
	margin: 1rem;

	border-radius: 0.5rem;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
	overflow: hidden;

	text-align: center;
}

section.contact li:hover,
section.contact li:focus {
	color: var(--accent);
	box-shadow: 0 0 0 0.0625rem currentColor;
	fill: currentColor;
}

section.contact li:active {
	background-color: var(--accent);
	color: var(--base);
	fill: currentColor;
}

section.contact li:hover button,
section.contact li:focus button {
	border-color: var(--accent);
	fill: var(--accent);
}

section.contact li:active button {
	border-color: var(--base2);
	fill: var(--base);
}

section.contact ul a {
	display: grid;
	grid-template-columns: auto 1fr 1rem;
	padding: 1rem;
}

section.contact svg {
	width: auto;
	height: 1rem;
}

section.contact button {
	position: absolute;
	right: 0;
	top: 0;
	padding: 1rem;

	border-left: solid 0.0625rem var(--base2);
}

section.contact button:hover,
section.contact button:focus {
	background-color: var(--accent-tint);
}

/* ----------------------------------------------------------------- */

/* BADGES */
div.tools {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin: 1rem;
}

main.about figure.tool {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin: 0;
	padding: 0.5rem;

	border-radius: 0.25rem;

	font-size: 0.75rem;
	font-weight: 500;
}

figure.tool svg {
	height: 1rem;
}

figure.tool path {
	fill: currentColor;
}

/* ----------------------------------------------------------------- */

/* WORK PAGE */
main.work div.buttons {
	display: flex;
	position: relative;
	left: -1rem;
	width: 100vw;
	margin: 1rem 0;
	padding: 0 2rem;

	overflow-x: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

main.work button {
	padding: 0.5rem;

	border: solid 0.0625rem transparent;
	border-radius: 0.25rem;

	font-size: 0.75rem;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 5%;
	white-space: nowrap;
}

button.active {
	/* background-color: var(--accent-tint); */
	/* color: var(--accent); */

	/* cursor: default; */
}

main.work button:not(.active):hover,
main.work button:not(.active):focus {
	color: var(--accent);
	border-color: var(--accent);
}

main.work button:not(.active):active {
	background-color: var(--accent);
	color: var(--base);
}

main.work article + article {
	margin-top: 4rem;
}

main.work figure {
	margin: 1rem;
	padding: 1rem;

	background-color: var(--base2);
	border-radius: 0.5rem;
}

main.work h2 {
	margin-bottom: 0.5rem;
}

main.work p {
	margin: 0.5rem 1rem;
}

main.work div + p {
	margin-bottom: 1rem;
}

main.work ul {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin: 1rem;
}

main.work li {
	display: block;
	padding: 0.5rem;

	color: var(--accent);
	border: solid 0.0625rem var(--accent);
	border-radius: 0.25rem;

	font-size: 0.75rem;
	font-weight: 500;
}

main.work .category {
	background-color: var(--accent);
	color: var(--base);
}

main.work a {
	font-weight: 500;
}

/* ABOUT PAGE */
main.about p {
	margin: 1rem;
}

main.about ul {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin: 1rem;
}

main.about li {
	display: block;
	padding: 0.5rem;

	background-color: var(--accent-tint);
	color: var(--accent);
	border-radius: 0.25rem;

	font-size: 0.75rem;
	font-weight: 500;
}

main.about figure {
	margin: 1rem;
}

main.about img {
	border-radius: 0.5rem;

	aspect-ratio: 1 / 1;
	object-fit: cover;
	object-position: center 25%;
}

/* CONTACT PAGE */
main.contact p {
	margin: 1rem;
}

main.contact li {
	display: block;
	margin: 1rem;

	font-weight: 500;
}

main.contact ul a {
	display: block;
	border: solid 0.0625rem var(--base2);
	border-radius: 0.5rem;

	display: flex;
	justify-content: space-between;
	padding: 1rem;
}

main.contact ul a:hover,
main.contact ul a:focus {
	color: var(--accent);
	border-color: var(--accent);
}

main.contact ul a:active {
	background-color: var(--accent);
	color: var(--base);
}

main.contact .icon-text {
	display: flex;
	gap: 1rem;
}

main.contact svg {
	width: auto;
	height: 1rem;
}

main.contact path {
	fill: currentColor;
}

main.contact .email {
	display: grid;
	grid-template-columns: 1fr 3.125rem;
	gap: 1rem;
}

main.contact button {
	padding: 1rem;

	color: var(--contrast);
	border: solid 0.0625rem var(--base2);
	border-radius: 0.5rem;
}

main.contact button:hover,
main.contact button:focus {
	border-color: var(--accent);
	color: var(--accent);
}

main.contact button:active {
	background-color: var(--accent);
	color: var(--base);
}

/* HOMEPAGE WORK SECTION */
div.work article + article {
	margin-top: 4rem;
}

div.work figure {
	margin: 1rem;
	padding: 1rem;

	background-color: var(--base2);
	border-radius: 0.5rem;
}

div.work h3 {
	margin: 1rem 1rem 0.5rem 1rem;
}

div.work p {
	/* margin: 0.5rem 1rem; */
}

div.work ul {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin: 1rem;
}

div.work li {
	display: block;
	padding: 0.5rem;

	color: var(--accent);
	border: solid 0.0625rem var(--accent);
	border-radius: 0.25rem;

	font-size: 0.75rem;
	font-weight: 500;
}

div.work .category {
	background-color: var(--accent);
	color: var(--base);
}

div.work div + p {
	/* margin-bottom: 1rem; */
}

div.work a {
	font-weight: 500;
}

.link-btn {
	display: block;
	margin: 1rem;
	padding: 1rem;

	border: solid 0.0625rem var(--base2);
	border-radius: 0.5rem;

	font-size: 0.75rem;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5%;
}

.link-btn:hover,
.link-btn:focus {
	color: var(--accent);
	border-color: var(--accent);
}

.link-btn:active {
	background-color: var(--accent);
	color: var(--base);
}

/* ----------------------------------------------------------------- */

/* WIDTHS */
.wide-width {
	/* margin: auto; */
	/* max-width: 64rem; */
}

.content-width {
	/* margin: auto; */
	/* max-width: 48rem; */
}
