/* TABLE OF CONTENTS */
/*
- IMPORTS
- VARIABLES

- BODY
- MAIN

- PARAGRAPHS
- LINKS

- BUTTONS

- IMAGES
	- LOADING GIF
- SVGS

- DARK THEME
*/

/* ----------------------------------------------------------------- */

/* IMPORTS */
@import url("general-sans.css");

/* ----------------------------------------------------------------- */

/* VARIABLES */
* {
	--header-height: 3rem;

	/* --black: black; */
	--gray1: hsl(0, 0%, 10%);
	--gray2: hsl(0, 0%, 20%);
	--gray3: hsl(0, 0%, 30%);
	--gray: hsl(0, 0%, 50%);
	--gray8: hsl(0, 0%, 80%);
	--gray9: hsl(0, 0%, 90%);
	/* --white: white; */
	--base: var(--gray9);
	--base2: var(--gray8);
	--contrast: var(--gray1);
	--accent: royalblue;
	--accent-tint: rgba(65, 105, 225, 0.1);

	margin: 0;
	padding: 0;

	font-family: "GeneralSans-Variable", "Noto Color Emoji", sans-serif;
	line-height: 1;

	scroll-behavior: smooth;
	/* transition: all 0.25s; */
}

/* ----------------------------------------------------------------- */

/* BODY */
div#root {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - var(--header-height));
	margin-bottom: var(--header-height);

	background-color: var(--base);
	color: var(--contrast);
}

@media screen and (min-width: 64em) {
	div#root {
		min-height: 100vh;
		margin: 0;
	}
}

/* ----------------------------------------------------------------- */

/* MAIN */
main {
	flex: 1;
}

/* ----------------------------------------------------------------- */

/* SECTIONS */
section {
	padding: 1rem;
}

@media screen and (min-width: 64em) {
	section {
		max-width: 120rem;
		margin: auto;
		padding: 8rem;
	}
}

div.wide-width {
	margin: auto;
	max-width: 1024px;
}

div.content-width {
	margin: auto;
	max-width: 48rem;
}

/* ----------------------------------------------------------------- */

/* HEADINGS */
h1 {
	margin: 1rem;

	color: var(--accent);

	font-weight: 600;
	line-height: 1.25;
}

h2 {
	margin: 1rem;

	font-weight: 600;
	line-height: 1.25;
}

h3 {
	margin: 1rem;

	font-size: 1.25rem;
	font-weight: 600;
}

@media screen and (min-width: 64em) {
	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.5rem;
	}
}

/* ----------------------------------------------------------------- */

/* PARAGRAPHS */
p {
	line-height: 1.5;
}

p {
	margin: 1rem;
}

p a {
	font-weight: 600;
}

p a:hover,
p a:focus {
	text-decoration: underline;
}

/* ----------------------------------------------------------------- */

/* LINKS */
a {
	color: currentColor;

	text-decoration: none;
}

/* ----------------------------------------------------------------- */

/* BUTTONS */
button {
	cursor: pointer;
}

/* ----------------------------------------------------------------- */

/* IMAGES */
figure {
	margin: 1rem;
}

img {
	display: block;
}

/* LOADING GIF */
img.loading {
	margin: auto;
	height: calc(100vh - var(--header-height));
	object-fit: scale-down;
}

/* ----------------------------------------------------------------- */

/* SVGS */
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

path {
	fill: currentColor;
	fill-rule: evenodd;
}

/* ----------------------------------------------------------------- */

/* DARK THEME */
div#root.dark,
div#root.dark * {
	--header-height: 3.0625rem;

	--base: var(--gray1);
	--base2: var(--gray2);
	--base3: var(--gray3);
	--contrast: var(--gray9);
}
